.container {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    margin-top: 64px;
}

.black-logo {
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
}

.blue-logo {
    color: #4BCAFF;
}

.top-menu {
    margin-top: 40px;
}

.nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #35444F;
}

.nav-header-item {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 22px 40px;
    border-left: 1px solid white;
    transition: all 200ms ease-in-out;
}

.item-4 {
    border-right: 1px solid white;
}


.nav-header-item:hover {
    background-color: #222F3A;
    cursor: pointer;
}

.main-section {
    margin-top: 48px;
    display: flex;
    gap: 52px;
}

.aside {
    max-width: 344px;
}

.left-menu {
    flex: 1 0 auto;
    justify-content: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid black;
    width: 344px;
    height: 399px;
}

.left-menu-item {
    color: #485863;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding: 26px 0 26px 42px;
    transition: all 200ms ease-in-out;
}

.left-menu-item:hover {
    background-color: #DBDBDB;
    color: #000000;
    cursor: pointer;
    padding-left: 60px;
}

.content {
    flex: 1 0 auto;
    max-width: 885px;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 885px;
    height: 529px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.0001);
}

.site-image {
    width: 320px;
    height: 381px;
    transition: all 200ms ease-in-out;
}

.site-image:hover {
    transform: scaleX(1.2);
    cursor: pointer;
}

.content-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 36px;
}

.footer {
    margin: 52px 0;
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-between;
}

.menu-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-footer-item {
    padding: 22px 14px;
}

.menu-footer-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.menu-footer-link:hover {
    color: #3181A6;
    text-decoration: underline;
    transform: scaleX(1);
    text-underline-offset: 16px;
    cursor: pointer;
}

.link-1 {
    padding-left: 26px;
}

.copyright {
    flex: 1 0 auto;
    max-width: 190px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding: 22px 40px;

}






